{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Luas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'mainfeed/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Source+Sans+Pro" rel="stylesheet">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div class="main-body">
    <!-- side-navbar -->
    <ul id="side-navbar">
        <li><a href="{% url 'all-feed-popular' %}">All</a></li>
        <li><a href="{% url 'news-feed-popular' %}">News</a></li>
        <li><a href="{% url 'finance-feed-popular' %}">Finance</a></li>
    </ul>
    <!-- top-navbar -->
    <ul id="top-navbar">
        <li><a href="{% url 'all-feed-popular' %}">Luas</a></li>
    </ul>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    </div>
</body>
</html>