{% extends 'mainfeed/base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'mainfeed/home.css' %}">
{% endblock %}


{% block content %}

<body>
    <ul id="top-filter">
            <li><a href="{% url 'news-feed-popular' %}">Popular</a></li>
            <li><a href="{% url 'news-feed-latest' %}">Latest</a></li>
            <li><a href="#">Most Commented</a></li>
    </ul>
    {% for headline in headlines %}
    {% if headline.genre == "News" %}
    <ol>
        <a target="_blank" href="{% url 'detail' headline.slug %}">{{headline.title}}</a>
        <p>{{headline.source}}, {{ headline.hit }}</p>
    </ol>
    {% endif %}
    {% endfor %}
</body>

{% endblock %}

